/* Start Variables */
:root {
  --light-bg: hsl(252, 30%, 95%);
  --light-widget: hsl(252, 30%, 100%);
  --dark-bg: hsl(252, 30%, 15%);
  --dark-widget: hsl(252, 30%, 20%);
  --black-bg: hsl(252, 30%, 0%);
  --black-widget: hsl(252, 30%, 8%);
  --light-font: hsl(252, 30%, 17%);
  --dark-font: hsl(252, 30%, 95%);
  --color-purple: hsl(252, 75%, 60%);
  --color-yellow: hsl(52, 75%, 60%);
  --color-red: hsl(0, 95%, 65%);
  --color-green: hsl(120, 95%, 65%);
  --color-blue: hsl(202, 75%, 60%);
  --color-grey: hsl(252, 15%, 65%);
  --aside-width: 280px;

  --primary-color: var(--color-purple);
  --cur-bg: var(--light-bg);
  --cur-widget: var(--light-widget);
  --primary-font: var(--light-font);
  --secondary-font: var(--dark-font);
}

/* End Variables */

/* Start General Rules */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: bone;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
  list-style: none;
  color: var(--cur-font);
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

a {
  cursor: pointer;
}

::-webkit-scrollbar {
  background-color: var(--cur-bg);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;

}

body {
  background-color: var(--cur-bg);
}

.container {
  width: 80%;
  margin: 0px auto;
}

@media (max-width: 1200px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
}

/* End General Rules */

/* Start Theme styles */
.widget_light {
  background-color: var(--cur-widget);
}

.widget_dark {
  background-color: var(--dark-widget);
}

.widget_black {
  background-color: var(--black-widget);
}

.bg_light {
  background-color: var(--cur-bg);
}

.bg_dark {
  background-color: var(--dark-bg);
}

.bg_black {
  background-color: var(--black-bg);
}

/* End Theme styles */

/* Start Navbar */
.navbar {
  top: 0;
  z-index: 10;
  background-color: var(--cur-widget);
}

.navbar .container {
  height: 60px;
}

.navbar__logo {
  letter-spacing: 2px;
  color: var(--primary-font);
}

.navbar-form__search {
  height: 40px;
  width: 30vw;
  padding: 0px 15px 0px 40px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: var(--cur-bg);
  text-overflow: ellipsis;
}

.navbar-form__icon {
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-font);
}

.navbar__create,
.navbar__create_mobile {
  height: 40px;
  color: var(--secondary-font);
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}

.navbar__create {
  padding: 0px 20px;
  border-radius: 50px;
}

.navbar__create_mobile {
  display: none;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

@media (max-width: 62rem) {
  .navbar-search-wrapper {
    width: 80%;
  }
}

@media (max-width: 36rem) {
  .navbar__create_mobile {
    margin-right: 10px;
  }

  .navbar__create {
    display: none;
  }

  .navbar .navbar__create_mobile {
    display: block;
  }

  .navbar .container:has(.navbar-form__search:focus) .navbar__logo,
  .navbar .container:has(.navbar-form__search:focus) .navbar__create_mobile,
  .navbar .container:has(.navbar-form__search:focus) .navbar-profile {
    display: none;
  }

  .navbar-form:has(.navbar-form__search:focus) {
    margin: auto;
  }

  .navbar-form__search:focus {
    width: 80vw;
  }
}

/* End Navbar */

.page .container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  column-gap: 20px;
  position: relative;
}

@media (max-width: 1200px) {
  .page .container {
    grid-template-columns: 84px auto 28vw;
  }
}

@media (max-width: 992px) {
  .page .container {
    grid-template-columns: 0px auto 0px;
    column-gap: 10px;
  }
}

/* Start navList */

.open-navList {
  margin-left: -10px;
  background-color: var(--primary-color);
  color: var(--secondary-font);
}

.open-nav-block {
  display: none;
}

.navList,
.open-nav-block {
  height: max-content;
  top: 80px;
  z-index: 10;
}

.navList .close-navList {
  right: 0;
  top: -16px;
  font-size: 12px;
  height: 20px;
  width: 20px;
  place-items: center;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: var(--primary-font);
  background-color: var(--cur-widget);
  display: none;
}

.navList .user-card {
  height: 64px;
  background-color: var(--cur-widget);
  color: var(--primary-font);
}

@media (max-width: 992px) {
  .navList .user-card {
    border-top-right-radius: 0px;
  }

}

.navLinks {
  background-color: var(--cur-widget);
  height: 80%;
}

.navLinks .navLink {
  height: 60px;
  transition: 0.3s;
  color: var(--primary-font);
}

@media (max-width: 1200px) {
  .navLinks .navLink {
    height: 45px;
  }
}

.navLinks .navLink .navLink__icon {
  color: var(--color-grey);
  transition: 0.3s;
}

.navLinks .navLink:hover {
  background-color: var(--cur-bg);
}

.navLinks .navLink:hover .navLink__icon {
  margin-left: 40px;
}

.navLinks .navLink.active {
  background-color: var(--cur-bg);
  border-left: 8px solid var(--primary-color);
  font-weight: bold;
}

.navLinks li:first-child .navLink.active {
  border-top-left-radius: 10px;
}

.navLinks li:last-child .navLink.active {
  border-bottom-left-radius: 10px;
}


.navLinks .navLink.active .navLink__title {
  color: var(--primary-color);
}

.navLinks .navLink.active .navLink__icon {
  color: var(--primary-color);
  margin-left: 40px;
}



.notif-count,
.msgs-count {
  font-size: 10px;
  color: var(--dark-font);
  position: absolute;
  display: grid;
  place-items: center;
  padding: 1px;
  top: -6px;
  right: -10px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--color-red);
}


.navList__create {
  background-color: var(--primary-color);
  color: var(--secondary-font);
  font-weight: bold;
  font-size: 1rem;
}

#notif-link {
  position: relative;
}

#notif-link::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 20;
}

#notif-link .notif-list {
  position: absolute;
  left: calc(100% + 20px);
  top: 0;
  width: 500px;
  border-radius: 20px;
  background-color: var(--cur-widget);
  border: 4px solid var(--primary-color);
  padding: 15px;
  z-index: 30;
}

@media (max-width: 576px) {
  #notif-link .notif-list {
    width: 300px;
  }
}

#notif-link .notif-list .notif {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}

#notif-link .notif-list .notif .notif__text {
  font-weight: normal;
}

#notif-link .notif-list .notif .notif__time {
  font-weight: 300;
  color: var(--color-grey);
}

@media (max-width: 1200px) {
  .user-card {
    justify-content: center;
    padding: 0px;

  }

  .user-card-info {
    display: none;
  }

  .navLinks .navLink {
    align-items: center;
    justify-content: center;
  }

  .navLinks .navLink__title {
    display: none;
  }

  .navLinks .navLink__icon {
    margin: 0px;
    font-size: 16px;
  }

  .navLinks .navLink:hover .navLink__icon {
    margin-left: 0px;
  }

  .navLinks .navLink.active .navLink__icon {
    margin-left: 10px;

  }

  .navLinks .navLink.active .navLink__icon {
    margin: 0;
  }

  .navList__create {
    display: none;
  }

  .navList .navbar__create_mobile {
    display: grid;
    place-items: center;
    height: 50px;
    margin: 20px auto 0px;
  }

  .navbar__create_mobile i {
    color: var(--secondary-font);
  }
}

/* End navList */

/* Start feed */
.stories {
  aspect-ratio: 600 / 180;
  overflow-x: scroll;
  gap: 8px;
}

.stories::-webkit-scrollbar {
  display: none;
}

.stories-card {
  aspect-ratio: 9/16;
  border-radius: 14px;
  cursor: pointer;
  background-size: cover;
}

.storyBG {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vw;
  top: -60px;
  left: 0;
}

.storyLarge {
  width: 350px;
  aspect-ratio: 9/16;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 170px;
  border-radius: 20px;
}

.storyLarge__pfp {
  position: absolute;
  top: 20px;
  left: 20px
}

.stories-card:nth-child(1) {
  background-image: url("/images/stories/story-01.JPG");

}

.stories-card:nth-child(2) {
  background-image: url("/images/stories/story-02.JPG");

}

.stories-card:nth-child(3) {
  background-image: url("/images/stories/story-03.JPG");

}

.stories-card:nth-child(4) {
  background-image: url("/images/stories/story-04.JPG");

}

.stories-card:nth-child(5) {
  background-image: url("/images/stories/story-05.JPG");

}

.stories-card:nth-child(6) {
  background-image: url("/images/stories/story-06.JPG");

}

.stories-card:nth-child(7) {
  background-image: url("/images/stories/story-01.JPG");

}

.stories-card:nth-child(8) {
  background-image: url("/images/stories/story-02.JPG");

}

.stories-card:nth-child(9) {
  background-image: url("/images/stories/story-03.JPG");

}

.stories-card__profile {
  border: 4px solid var(--color-blue);
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.post {
  color: var(--primary-font);
}

.post-form {
  background-color: var(--cur-widget);
  padding: 5px 15px;
  border-radius: 40px;
}

.post-header__pfp {
  height: 2.5rem;
}

.post-header__more-actions {
  align-self: self-start;
}

.post-pfp {
  width: 1.875rem;
}

#post-input {
  flex-grow: 1;
  padding: 5px;
  margin: 0px 10px;
  background-color: var(--cur-widget);
}

.post-btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--secondary-font);
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 40px;
}

/* Start posts */
.post {
  background-color: var(--cur-widget);
  border-radius: 20px;
}

.post-header-info__name {
  font-weight: 600;
}

.post-header-info-loc-time,
.post-header-info-loc-time span {
  color: var(--color-grey);
  font-size: .75rem;
}

.post-header__more-actions {
  cursor: pointer;
}

.post__img {
  max-width: 100%;
  border-radius: 20px;
  margin-top: 10px;
}

.post-actions {
  font-size: 20px;
  margin: 5px 20px 0px;
}

.post-actions i {
  cursor: pointer;
  transition: 0.3s;
}

.post-actions i:hover {
  transform: translateY(-4px);
}

.post-actions i.like:hover {
  color: var(--color-red);
}

.post-likes-pfp__img {
  width: 26px;
  border: 2px solid var(--cur-widget);
}

.post-likes-pfp__img:not(:first-of-type) {
  margin-left: -10px;
}

.post-likes-data {
  margin-left: 5px;
}

.post-likes-data span {
  font-weight: bold;
}

.post-caption__writer {
  font-weight: bold;
}

.post-comments,
.post-comments__num {
  color: var(--color-grey);
}

/* End posts */
/* End feed */

/* Start messages */
.msgs-widget {
  background-color: var(--cur-widget);
  color: var(--primary-font);
}

.msgs-form__search {
  background-color: var(--cur-bg);
  height: 50px;
  border-radius: 40px;
  padding: 0px 20px 0px 40px;
}

.msgs-form__icon {
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);

}

.msgs-types .msgs-type {
  font-size: 13px;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  padding: 10px 0px;
  margin-top: 10px;
  border-bottom: 4px solid var(--cur-bg);
  cursor: pointer;
  transition: 0.3s;
}

.msgs-types .msgs-type.request {
  color: var(--primary-color);
}

.msgs-types .msgs-type.request::after {
  content: " (" attr(data-request) ")";
}

.msgs-types .msgs-type.active {
  border-bottom-color: var(--primary-font);
}

.contact-info__lm {
  color: var(--color-grey);
}

.contact-info__notif {
  font-weight: bold;
}

/* End messages */

/* Start requests */
.msgs-requests {
  overflow-x: hidden;
}

.requests-header {
  color: var(--color-grey);
}

.requests-contact {
  background-color: var(--cur-widget);
  padding: .9375rem;
  color: var(--primary-font);
  animation: 1s ease-in-out forwards;
}

@keyframes slideOff {
  50% {
    opacity: 0;
  }

  100% {
    transform: translateX(200%);
  }
}

@keyframes slideUp {
  50% {
    opacity: 0;
  }

  100% {
    transform: translateY(-200%);
  }
}

.requests-contact__pfp {
  height: 2.5rem;
}

.requests-contact-info__mutual,
.requests-contact-info__mutual span {
  font-weight: 300;
  color: var(--color-grey);
}

.requests-contact__actions button {
  padding: 10px 20px;
}

.requests-contact__actions .accept {
  background-color: var(--primary-color);
  color: var(--secondary-font);
}

.requests-contact__actions .decline {
  color: var(--light-font);
}

/* End requests */

@media (max-width: 992px) {
  .msgs-and-requests {
    display: none;
  }

  .open-nav-block {
    display: block;
  }

  .navList {
    display: none;
  }
}

/* Start theme selector */
.card-bg {
  position: fixed;
  display: grid;
  place-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.5);
  z-index: 11;
}

.theme-card {
  background-color: var(--cur-widget);
  color: var(--primary-font);
  box-shadow: 0px 0px 5px 3px var(--primary-color);
  width: 50%;
  border-radius: 10px;
  padding: 40px;
  position: relative;
}

@media (max-width: 1200px) {
  .theme-card {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .theme-card {
    width: 100%;
    max-width: 100vw;
  }

  .font-size {
    margin-top: 40px;
  }
}

.theme-card__close {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 1.25rem;
  color: var(--color-grey);
  cursor: pointer;
}

.size-selector {
  justify-content: space-between;
  align-items: center;
}

.size-selector__slider {
  background-color: #dcdae6;
  height: 5px;
  width: 100%;
}

.size-selector__size {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #dcdae6;
  z-index: 4;
  cursor: pointer;
}

.size-selector__size.active {
  background-color: var(--primary-color);
}

.size-selector__small-font,
.size-selector__large-font {
  padding: 0px 10px;
}

.size-selector__small-font {
  font-size: .625rem;
}

.color-selector {
  background-color: var(--cur-bg);
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.color-selector__color {
  width: 40px;
  margin: 15px 15px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.color-selector__color.purple {
  background-color: hsl(252, 75%, 60%);
}

.color-selector__color.yellow {
  background-color: hsl(52, 75%, 60%);
}

.color-selector__color.red {
  background-color: var(--color-red);
}

.color-selector__color.green {
  background-color: var(--color-green);
}

.color-selector__color.blue {
  background-color: var(--color-blue);
}

.color-selector__color.active {
  border: 6px solid white;
}

.background-selector {
  gap: 20px;
  flex-wrap: wrap;
}

.background-selector__background {
  display: flex;

  padding: 18px 15px;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.background-selector__background .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #dcdae6;
}

.background-selector__background.light {
  background-color: var(--light-widget);
  color: var(--light-font);
}

.background-selector__background.dark {
  background-color: var(--dark-widget);
  color: var(--dark-font);
}

.background-selector__background.black {
  background-color: var(--black-bg);
  color: var(--dark-font);
}

.background-selector__background.active {
  border: 2px solid var(--primary-color);
}

@media (max-width: 576px) {
  .background-selector {
    flex-direction: column;
  }
}

/* End theme selector */