/* Start Variables */
:root {
  --light-bg: hsl(252, 30%, 95%);
  --light-widget: hsl(252, 30%, 100%);
  --dark-bg: hsl(252, 30%, 15% );
  --dark-widget: hsl(252, 30%, 20% );
  --black-bg: hsl(252, 30%, 0% )
  --black-widget: hsl(252, 30%, 8% );
  --light-font: hsl(252, 30%, 17% );
  --dark-font: hsl(252, 30%, 95% );
  --color-purple: hsl( 252 , 75%, 60%);
  --color-yellow: hsl( 52 , 75%, 60%);
  --color-red: hsl(0, 95%, 65%);
  --color-green: hsl(120, 95%, 65%);
  --color-blue:hsl(202,75%,60%);
  --color-grey: hsl(252, 15%, 65%);
  --aside-width: 280px;
}
/* End Variables */

/* Start General Rules */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: bone;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
  list-style: none;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}


body {
  font-family: "Open Sans",sans-serif;
  background-color: var(--light-bg);
  color: var(--light-font);
}

.container {
  width: 80%;
  margin: 0px auto;
}

@media (max-width: 1200px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
}
/* End General Rules */

/* Start Navbar */
.navbar {
  top:0;
  z-index: 10;
}
.navbar .container {
  height: 60px;
}
.navbar__logo {
  letter-spacing: 2px;
}

.navbar-search-wrapper {
  width: 50%;
  margin: 0px auto;
}

.navbar-form__search {
  height: 40px;
  padding: 0px 15px 0px 40px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: var(--light-bg);
  text-overflow: ellipsis;
}

.navbar-form__icon {
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar__create,
.navbar__create_mobile {
  height: 40px;
  color: var(--dark-font);
  background-color: var(--color-purple);
  font-size: 1rem;
  font-weight: 600;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}

.navbar__create {
  padding: 0px 20px;
  border-radius: 50px;
}

.navbar__create_mobile {
  display: none;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

@media (max-width: 992px) {
.navbar-search-wrapper {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .navbar__create_mobile {
    margin-right: 10px;
  }

  .navbar__create {
   display: none;
  }
  .navbar .navbar__create_mobile {
    display: block;
  }
  .navbar .container:has(.navbar-form__search:focus) .navbar__logo,
  .navbar .container:has(.navbar-form__search:focus) .navbar__create_mobile,
  .navbar .container:has(.navbar-form__search:focus) .navbar-profile
  {
    display: none;
  }
}
/* End Navbar */

.page .container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  column-gap: 1.25rem;
  position: relative;
}

@media (max-width: 1200px) {
  .page .container {
    grid-template-columns: 10vw auto 30vw;
  }
}

/* Start navList */

.open-navList {
  z-index: 10;
  display: none;
  left: 0px;
} 

.navList {
      height: max-content;
      top: 80px;
}

.navList .close-navList {
  right: 0;
  top: -15px;
  font-size: 12px;
  height: 20px;
  width: 20px;
  display: grid;
  place-items: center;
  border-bottom-right-radius: 0px;
  color: var(--light-font);
  display: none;
}

.navList .user-card {
  height: 64px;
  border-top-right-radius: 0px;
}

.navLinks .navLink {
  height: 64px;
  transition: 0.3s;
}

.navLinks .navLink .navLink__icon {
  color: var(--color-grey);
  transition: 0.3s;
}

.navLinks .navLink:hover {
  background-color: transparent;
}

.navLinks .navLink:hover .navLink__icon  {
  background-color: transparent;
  margin-left: 40px;
}

.navLinks .navLink.active{
  background-color: transparent;
  border-left: 8px solid var(--color-purple);
  font-weight: bold;
}

.navLinks .navLink.active .navLink__title {
  color: var(--color-purple);
}
.navLinks .navLink.active .navLink__icon {
  color: var(--color-purple);
  margin-left: 40px;
  
} 

.navLinks .navLink .navLink__icon.bell::after, 
.navLinks .navLink .navLink__icon.msgs::after {
  
  font-size: 8px;
  color: var(--dark-font);
  position: absolute;
  display: grid;
  place-items: center;
  padding: 1px;
  top: -14px;
  right: -10px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: var(--color-red);
}

.navLinks .navLink .navLink__icon.bell::after {
  content: "+99";
}
.navLinks .navLink .navLink__icon.msgs::after {
  content: "4";
}

.navList__create {
  background-color: var(--color-purple);
  color: var(--dark-font);
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width: 992px) {
  .open-navList {
    display: block;
  }
  .navList {
    width: 64px;
    visibility:hidden;
  }
  .user-card {
    justify-content: center;
    padding: 0px;

  }
  .user-card-info {
    visibility: hidden;
  }
  .navLinks .navLink {
    align-items: center;
    justify-content: center;
  }
  .navLinks .navLink__title {
    display: none;
  }
  .navLinks .navLink__icon {
   margin: 0px;
   font-size: 16px;
  }
  .navLinks .navLink:hover .navLink__icon  {
  margin-left: 0px;
}
.navLinks .navLink.active .navLink__icon {
  margin-left: 10px;
  
} 
  .navLinks .navLink.active .navLink__icon {
    margin: 0;
  }
  .navList__create {
    display: none;
  }
  .navList .navbar__create_mobile {
    display: block;
    height: 50px;
    margin: 10px auto 0px;
  }
  .navbar__create_mobile i {
    color: var(--dark-font);
  }
}
/* End navList */

/* Start feed */
.feed {
  /* background-color: var(--light-widget); */
  /* margin: 20px 0px 20px calc(var(--aside-width) + 20px); */
  /* width: 1fr; */
}

.stories {
  height: 200px;
  overflow-x: scroll;
}

.stories::-webkit-scrollbar {
  display: none;
}

.stories-card {
  /* max-width: 100px; */
  aspect-ratio: 9/16;
  border-radius: 14px;
  cursor: pointer;
}

.stories-card:nth-child(1) {
  background-image: url("/images/stories/story-01.JPG");
  background-size: cover;
}
.stories-card:nth-child(2) {
  background-image: url("/images/stories/story-02.JPG");
  background-size: cover;
}
.stories-card:nth-child(3) {
  background-image: url("/images/stories/story-03.JPG");
  background-size: cover;
}
.stories-card:nth-child(4) {
  background-image: url("/images/stories/story-04.JPG");
  background-size: cover;
}
.stories-card:nth-child(5) {
  background-image: url("/images/stories/story-05.JPG");
  background-size: cover;
}
.stories-card:nth-child(6) {
  background-image: url("/images/stories/story--6.JPG");
  background-size: cover;
}

.stories-card__profile {
  border: 4px solid var(--color-blue);
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.post-form {
  background-color: var(--light-widget);
  padding: 5px 15px;
  border-radius: 40px;
}

.post-pfp {
  width: 30px;
}

.post-input {
  flex-grow: 1;
  padding: 5px;
  margin: 0px 10px;
}

.post-btn {
  display: block;
  background-color: var(--color-purple);
  color: var(--dark-font);
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 40px;
}

@media (max-width: 992px) {
  .feed {
    margin: 20px 0px;
    
  }
}

/* Start posts */
.post {
  background-color: var(--light-widget);
  border-radius: 20px;
}

.post-header-info__name {
  font-weight: 600;
}

.post-header-info-loc-time, .post-header-info-loc-time span  {
  color: var(--color-grey);
  font-size: .75rem;
}

.post-header__more-actions {
  cursor: pointer;
}

.post__img {
  max-width: 100%;
  border-radius: 20px;
  margin-top: 10px;
}

.post-actions {
  font-size: 20px;
  margin: 5px 20px 0px;
}

.post-actions i {
  cursor: pointer;
  transition: 0.3s;
}

.post-actions i.like:hover {
  color: var(--color-red);
}

.post-likes-pfp__img {
  width: 26px;
  border: 2px solid var(--light-widget);
}

.post-likes-pfp__img:not(:first-of-type) {
  margin-left: -10px;
}

.post-likes-data {
  margin-left: 5px;
}

.post-likes-data span {
  font-weight: bold;
}

.post-caption__writer {
  font-weight: bold;
}

.post-comments, .post-comments__num {
  color: var(--color-grey);
}

/* End posts */
/* End feed */

/* Start messages */
.msgs-widget {
  background-color: var(--light-widget);
  /* width: var(--aside-width); */
}

/* End messages */