/* Start Variables */
:root {
  --light-bg: hsl(252, 30%, 95%);
  --light-widget: hsl(252, 30%, 100%);
  --dark-bg: hsl(252, 30%, 15% );
  --dark-widget: hsl(252, 30%, 20% );
  --black-bg: hsl(252, 30%, 0% )
  --black-widget: hsl(252, 30%, 8% );
  --light-font: hsl(252, 30%, 17% );
  --dark-font: hsl(252, 30%, 95% );
  --color-purple: hsl( 252 , 75%, 60%);
  --color-yellow: hsl( 52 , 75%, 60%);
  --color-red: hsl(0, 95%, 65%);
  --color-green: hsl(120, 95%, 65%);
  --color-blue:hsl(202,75%,60%);
  --color-grey: hsl(252, 15%, 65%);
  --aside-width: 280px;

  --primary-color: var(--color-purple);
  --cur-bg: var(--light-bg);
  --cur-widget: var(--light-widget);
  --primary-font: var(--light-font);
  --secondary-font: var(--dark-font);
}
/* End Variables */

/* Start General Rules */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: bone;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
  list-style: none;
  color: var(--cur-font);
  font-family: "Poppins",sans-serif;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

body {
  background-color: var(--cur-bg);
}

.container {
  width: 80%;
  margin: 0px auto;
}

@media (max-width: 1200px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
}
/* End General Rules */

/* Start Theme styles */
.widget_light {
  background-color: var(--cur-widget);
}
.widget_dark {
  background-color: var(--dark-widget);
}
.widget_black {
  background-color: var(--black-widget);
}
.bg_light {
  background-color: var(--cur-bg);
}
.bg_dark {
  background-color: var(--dark-bg);
}
.bg_black {
  background-color: var(--black-bg);
}
/* End Theme styles */

/* Start Navbar */
.navbar {
  top:0;
  z-index: 10;
  background-color: var(--cur-widget);
}
.navbar .container {
  height: 60px;
}
.navbar__logo {
  letter-spacing: 2px;
}

.navbar-form__search {
  height: 40px;
  width: 30vw;
  padding: 0px 15px 0px 40px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: var(--cur-bg);
  text-overflow: ellipsis;
}

.navbar-form__icon {
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar__create,
.navbar__create_mobile {
  height: 40px;
  color: var(--secondary-font);
  background-color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}

.navbar__create {
  padding: 0px 20px;
  border-radius: 50px;
}

.navbar__create_mobile {
  display: none;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

@media (max-width: 992px) {
.navbar-search-wrapper {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .navbar__create_mobile {
    margin-right: 10px;
  }

  .navbar__create {
   display: none;
  }
  .navbar .navbar__create_mobile {
    display: block;
  }
  .navbar .container:has(.navbar-form__search:focus) .navbar__logo,
  .navbar .container:has(.navbar-form__search:focus) .navbar__create_mobile,
  .navbar .container:has(.navbar-form__search:focus) .navbar-profile
  {
    display: none;
  }

  .navbar-form:has(.navbar-form__search:focus) {
    margin: auto;
  }

  .navbar-form__search:focus {
    width: 80vw;
  }
}
/* End Navbar */

.page .container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  column-gap: 1.25rem;
  position: relative;
}


/* Start navList */

.open-navList {
  margin-left: -10px;
  background-color: var(--primary-color);
  color: var(--secondary-font);
} 

.open-nav-block {
    display: none;
    z-index: 20;
  }

.navList, .open-nav-block {
      height: max-content;
      top: 80px;
}

.navList .close-navList {
  right: 0;
  top: -15px;
  font-size: 12px;
  height: 20px;
  width: 20px;
  display: grid;
  place-items: center;
  border-bottom-right-radius: 0px;
  color: var(--primary-font);
  display: none;
}

.navList .user-card {
  height: 64px;
}

.navLinks {
  background-color: var(--cur-widget);
}

.navLinks .navLink {
  height: 64px;
  transition: 0.3s;
}

.navLinks .navLink .navLink__icon {
  color: var(--color-grey);
  transition: 0.3s;
}

.navLinks .navLink:hover {
  background-color: var(--cur-bg);
}

.navLinks .navLink:hover .navLink__icon  {
  margin-left: 40px;
}

.navLinks .navLink.active{
  background-color: var(--cur-bg);
  border-left: 8px solid var(--primary-color);
  font-weight: bold;
}

.navLinks .navLink.active .navLink__title {
  color: var(--primary-color);
}
.navLinks .navLink.active .navLink__icon {
  color: var(--primary-color);
  margin-left: 40px;
} 

.navLinks .navLink .navLink__icon.bell::after, 
.navLinks .navLink .navLink__icon.msgs::after {
  
  font-size: 8px;
  color: var(--secondary-font);
  position: absolute;
  display: grid;
  place-items: center;
  padding: 1px;
  top: -14px;
  right: -10px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: var(--color-red);
}

.navLinks .navLink .navLink__icon.bell::after {
  content: "+99";
}
.navLinks .navLink .navLink__icon.msgs::after {
  content: "4";
}

.navList__create {
  background-color: var(--primary-color);
  color: var(--secondary-font);
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .page .container {

  grid-template-columns: 84px auto 28vw;

}
  
  .user-card {
    justify-content: center;
    padding: 0px;

  }
  .user-card-info {
    display: none;
  }
  .navLinks .navLink {
    align-items: center;
    justify-content: center;
  }
  .navLinks .navLink__title {
    display: none;
  }
  .navLinks .navLink__icon {
    margin: 0px;
    font-size: 16px;
  }
  .navLinks .navLink:hover .navLink__icon  {
  margin-left: 0px;
}
.navLinks .navLink.active .navLink__icon {
  margin-left: 10px;
  
} 
  .navLinks .navLink.active .navLink__icon {
    margin: 0;
  }
  .navList__create {
    display: none;
  }
  .navList .navbar__create_mobile {
    display: grid;
    place-items: center;
    height: 50px;
    margin: 20px auto 0px;
  }
  .navbar__create_mobile i {
    color: var(--secondary-font);
  }
}

@media (max-width: 992px) {
  .page .container {

  grid-template-columns: 0px auto 0px;
  column-gap: 10px;
  }
  
  .msgs-and-requests {
    display: none;
  }

  .open-nav-block {
    display: block;
  }
  .navList {
    display: none;
  }
}
/* End navList */

/* Start feed */

.stories {
  aspect-ratio: 521 / 180;
  overflow-x: scroll;
  gap: 8px;
}

.stories::-webkit-scrollbar {
  display: none;
}

.stories-card {
  /* max-width: 100px; */
  aspect-ratio: 9/16;
  /* width: 100%; */
  border-radius: 14px;
  cursor: pointer;
}

.stories-card:nth-child(1) {
  background-image: url("/images/stories/story-01.JPG");
  background-size: cover;
}
.stories-card:nth-child(2) {
  background-image: url("/images/stories/story-02.JPG");
  background-size: cover;
}
.stories-card:nth-child(3) {
  background-image: url("/images/stories/story-03.JPG");
  background-size: cover;
}
.stories-card:nth-child(4) {
  background-image: url("/images/stories/story-04.JPG");
  background-size: cover;
}
.stories-card:nth-child(5) {
  background-image: url("/images/stories/story-05.JPG");
  background-size: cover;
}
.stories-card:nth-child(6) {
  background-image: url("/images/stories/story--6.JPG");
  background-size: cover;
}

.stories-card__profile {
  border: 4px solid var(--color-blue);
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.post-form {
  background-color: var(--cur-widget);
  padding: 5px 15px;
  border-radius: 40px;
}

.post-header__pfp {
  height: 40px;
}

.post-header__more-actions {
  align-self: self-start;
}

.post-pfp {
  width: 30px;
}

#post-input {
  flex-grow: 1;
  padding: 5px;
  margin: 0px 10px;
}

.post-btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--secondary-font);
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 40px;
}

/* Start posts */
.post {
  background-color: var(--cur-widget);
  border-radius: 20px;
}

.post-header-info__name {
  font-weight: 600;
}

.post-header-info-loc-time, .post-header-info-loc-time span  {
  color: var(--color-grey);
  font-size: .75rem;
}

.post-header__more-actions {
  cursor: pointer;
}

.post__img {
  max-width: 100%;
  border-radius: 20px;
  margin-top: 10px;
}

.post-actions {
  font-size: 20px;
  margin: 5px 20px 0px;
}

.post-actions i {
  cursor: pointer;
  transition: 0.3s;
}

.post-actions i.like:hover {
  color: var(--color-red);
}

.post-likes-pfp__img {
  width: 26px;
  border: 2px solid var(--cur-widget);
}

.post-likes-pfp__img:not(:first-of-type) {
  margin-left: -10px;
}

.post-likes-data {
  margin-left: 5px;
}

.post-likes-data span {
  font-weight: bold;
}

.post-caption__writer {
  font-weight: bold;
}

.post-comments, .post-comments__num {
  color: var(--color-grey);
}

/* End posts */
/* End feed */

/* Start messages */
.msgs-widget {
  background-color: var(--cur-widget);
}

.msgs-form__search {
  background-color: var(--cur-bg);
  height: 50px;
  border-radius: 40px;
  padding: 0px 20px 0px 40px;
}

.msgs-form__icon {
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);

}

.msgs-types .msgs-type {
  font-size: 13px;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  padding: 10px 0px;
  margin-top: 10px;
  border-bottom: 4px solid var(--cur-bg);
  cursor: pointer;
  transition: 0.3s;
}

.msgs-types .msgs-type.request {
  color: var(--primary-color);
}

.msgs-types .msgs-type.request::after {
  content: " (" attr(data-request) ")";
}

.msgs-types .msgs-type.active {
  border-bottom-color: var(--primary-font);
}

.contact-info__lm {
  color: var(--color-grey);
}
.contact-info__notif {
  font-weight: bold;
}

/* End messages */

/* Start requests */
.requests-header {
  color: var(--color-grey);
}

.requests-contact {
  background-color: var(--cur-widget);
  padding: 15px;
}

.requests-contact__pfp {
  height: 40px;
}

.requests-contact-info__mutual,  .requests-contact-info__mutual span{
  font-weight: 300;
  color: var(--color-grey);
}

.requests-contact__actions button {
  padding: 10px 20px;
}

.requests-contact__actions .accept {
  background-color: var(--primary-color);
  color: var(--secondary-font);
}
/* End requests */